<!-- app.component.html -->
<app-header (menuClicked)="isSidebarOpen = !isSidebarOpen"></app-header>

<div class="page-container">
  <!-- Container for Sidebar and Content -->
  <div class="d-flex">
    <!-- Sidebar -->
    <app-sidenav *ngIf="isSidebarOpen" (sidebarClosed)="isSidebarOpen = false"></app-sidenav>


    <!-- Main Content -->
    <main class="content-container flex-fill">
      <div class="router-outlet-container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

<!-- Chatbot Component -->
<app-chatbot></app-chatbot>