<!-- app.component.html -->
<app-header (menuClicked)="isSidebarOpen = !isSidebarOpen"></app-header>

<div class="page-container">
  <!-- Container for Sidebar and Content -->
  <div class="d-flex">
    <!-- Sidebar -->
    <nav *ngIf="isSidebarOpen" class="sidenav" style="background-color: black;">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" (click)="toggleSidebar()" style="font-size: larger;">
            <i class="fa fa-bars"></i>
          </a>
        </li>


        <p style="margin-left: 9%; margin-top: 2%;  font-size: larger; color: wheat;">LUMIERE TRANSPORT</p>
        <li class="nav-item">
          <a class="nav-link" routerLink="/site/dashboard" routerLinkActive="active">
            <i class="fas fa-home"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/site/articles" routerLinkActive="active">
            <i class="fas fa-archive"></i> Gestion des Articles
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/site/clients" routerLinkActive="active">
            <i class="fas fa-users"></i> Gestion des Clients
          </a>
        </li>
        <li class="nav-item" [ngClass]="{ active: isActive }">
          <a class="nav-link" (click)="toggleSubMenu()" role="button">
            <i class="fas fa-tasks"></i> Gestion des Ordres
          </a>
          <ul *ngIf="subMenuVisible" class="list-unstyled ps-3">
            <li>
              <a class="nav-link" routerLink="/site/ordres" routerLinkActive="active" style="color: white;">Liste des
                Ordres</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/site/ajouter" routerLinkActive="active" style="color: white;"> Ordres Non
                Plannifiés</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/site/nonplannifies" routerLinkActive="active" style="color: white;">
                Ajouter un Ordre</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/site/utilisateurs" routerLinkActive="active">
            <i class="fas fa-user-cog"></i> Gestion des Utilisateurs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" routerLink="/login" routerLinkActive="active">
            <i class="fas fa-sign-out-alt"></i> LogOut
          </a>
        </li>
      </ul>
    </nav>

    <!-- Main Content -->
    <main class="content-container flex-fill">
      <div class="router-outlet-container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

<!-- Chatbot Component -->
<app-chatbot></app-chatbot>
