<nav class="sidenav" style="background-color: black;">
    <ul class="nav flex-column">
        <p style="margin-left: 9%; margin-top: 2%;  font-size: larger; color: wheat;">Otflow TRANSPORT</p>

        <li class="nav-item">
            <a class="nav-link" routerLink="/material/dashboard" routerLinkActive="active">
                <i class="fas fa-home"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/material/articles" routerLinkActive="active">
                <i class="fas fa-archive"></i> Gestion des Articles
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/material/clients" routerLinkActive="active">
                <i class="fas fa-users"></i> Gestion des Clients
            </a>
        </li>

        <li class="nav-item" [ngClass]="{ active: isActive }">
            <a class="nav-link" (click)="toggleSubMenu()" role="button">
                <i class="fas fa-tasks"></i> Gestion des Ordres
            </a>
            <ul *ngIf="subMenuVisible" class="list-unstyled ps-3">
                <li>
                    <a class="nav-link" routerLink="/material/ordres" routerLinkActive="active" style="color: white;">
                        Liste des Ordres
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/material/ajouter" routerLinkActive="active" style="color: white;">
                        Ordres Non Plannifiés
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/material/nonplannifies" routerLinkActive="active"
                        style="color: white;">
                        Ajouter un Ordre
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/material/utilisateurs" routerLinkActive="active">
                <i class="fas fa-user-cog"></i> Gestion des Utilisateurs
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-danger" (click)="onLogout()">
                <i class="fas fa-sign-out-alt"></i> LogOut
            </a>
        </li>
    </ul>
</nav>


