<nav class="navbar navbar-expand-lg " style="background-color: rgb(255, 123, 0);">
    <button class="btn btn-outline btn-sm" title="Menu" style="font-size: larger;"  (click)="menuClicked.emit()" >
        <i class="fa fa-bars"></i>
      </button>
      
    <div class="collapse navbar-collapse" id="navbarContent">
        <a class="navbar-brand" href="#">
           
        </a>
        <div class="mx-auto text-center" >
      <img src="assets\otflow-horizontal.png" style="width: 14%; margin-left: 130%;" alt="">
        </div>

      <div class="notification-wrapper">
        <div class="bell-container" (click)="toggleNotifications()">
          <i class="fa fa-bell bell-icon" [class.has-new]="hasNewNotifications"></i>
          <span class="badge-count" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
        </div>

        <div *ngIf="showNotifications" class="premium-notification-dropdown">
          <div class="dropdown-header">
            <h3>Notifications</h3>
            <span class="mark-all">Tout marquer comme lu</span>
          </div>
          
          <div class="notification-list-premium">
            <div *ngIf="notifications.length === 0" class="empty-notif">
              <i class="fas fa-bell-slash"></i>
              <p>Aucune notification</p>
            </div>
            
            <div *ngFor="let notif of notifications" class="notif-item" [class.unread]="!notif.isRead">
              <div class="notif-icon" [ngClass]="getColorClass(notif.type)">
                <i class="fas" [ngClass]="getIcon(notif.type)"></i>
              </div>
              <div class="notif-body">
                <div class="notif-title-row">
                  <span class="notif-type">{{ notif.type || 'ALERTE' }}</span>
                  <span class="notif-date">{{ formatDate(notif.timestamp) }}</span>
                </div>
                <p class="notif-message">{{ notif.message }}</p>
              </div>
            </div>
          </div>
          
          <div class="dropdown-footer">
            <a href="#">Voir toutes les notifications</a>
          </div>
        </div>
      </div>

    </div>
</nav>



