<ion-tabs>
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Accueil</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="demandes">
            <ion-icon name="cube-outline"></ion-icon>
            <ion-label>Demandes</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="livraisons">
            <ion-icon name="car-outline"></ion-icon>
            <ion-label>Livraisons</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Profil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>